body{
	background : white;
	font-size : 14px;
	height : 100%;
}

a {
    color: #26776F;
}
a:hover {
    color: #333;
}

div.main{
	background : white;
	width : 1400px;
	margin : 5px auto;
}
div.main div.logininfo{
	background : #EBF7FF;
	text-align : right;
	padding : 5px;
	
}
div.main div.upper{
	background : white;
	height : 400px;
	padding : 50px;
}

div.upper div.logo{
	background : white;	
	padding-top : 300px;
	text-align : center;
}

div.main div.category{
	background : #C2E2E8;
}

div.main div.below{
	background : white;
	width : 1400px;
	position : absolute;
	
}

div.below div.block{
	background:#D6F0FF;
	margin : 10px;
	width : 340px;
	height : 600px;
	padding : 50px;
	float : left;
}

div.below div.register{
	padding-left : 200px;
	margin : 10px;
	width : 400px;
	height : 600px;
	
}




input[type="submit"] {
    background: #105751;
    border: 1px solid #073B36;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}
